.drink-name{
  color: black;
  margin: 0px;
}

.popup-content{
  animation: flicker-in-1 0.5s 0.25s ease-out both;
}

.drink-card{
  background: white;
  border: 10px solid white;
  margin: 5px;
  height: 200px;
  /* height: fit-content ; */
  width: min-content;
}

.drink-card:hover{
  filter:drop-shadow(10px 10px 0 rgb(255, 0, 0))
  drop-shadow(-10px -10px 0 rgb(0, 30, 255))
}

.thumbnail{
  border: 2px solid black;
  max-height: 150px;
  max-width: 150px;
}

.results-div{
  margin: auto;
  border: solid rgb(167, 3, 3) 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width:500px;
  height: 400px;
  overflow-y: scroll;
  background-color: #000000;
  opacity: 1; 
  background: radial-gradient(circle, transparent 20%, #000000   20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#f74545 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, #f74545 2.4000000000000004px, #000000 2.4000000000000004px) -1.2000000000000002px 0;
  background-size: 60px 60px, 20px 20px, 30px 30px, 30px 30px;  

}
@keyframes flicker-in-1 {
  0% {
    transform: rotateX(-90deg) ;
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translateX(1);
    opacity: 1;
  }
}