.drink-name{
  color: black;
  margin: 0px;
}

.drink-card{
  font-family: "Lacquer", serif;
  font-weight: 400;
  background: white;
  border: 10px solid white;
  margin: 5px;
  height: 200px;
  width: min-content;

}

.drink-card:hover{
  animation: red-blue-polar 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.thumbnail{
  border: 2px solid black;
  max-height: 150px;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
}

@keyframes red-blue-polar {
  0% {
    filter:  drop-shadow(0 0 0 rgb(0, 0, 0))
    drop-shadow(0 0 0 rgb(0, 0, 0));
    transform: rotate(0deg);
  }
  100% {
    filter: drop-shadow(10px 10px 0 rgb(255, 0, 0))
    drop-shadow(-10px -10px 0 rgb(0, 30, 255)) ;
    transform: rotate(2deg);
  }
}