.bottle-interface{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
  min-width: 480px;
  max-width: 1280px;
  flex-wrap: wrap;
}

.bottle{
  filter: grayscale(60%);
  /* min-width:100;
  min-height:200; */
}


/* .bottle:hover{
  filter:drop-shadow(10px 10px 0 rgb(255, 0, 0))
  drop-shadow(-10px -10px 0 rgb(0, 30, 255))
} */

.bottle:hover{
  animation: red-blue-bottles 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes red-blue-bottles {
  0% {
    filter:  drop-shadow(0 0 0 rgb(0, 0, 0))
    drop-shadow(0 0 0 rgb(0, 0, 0));
  }
  100% {
    filter: drop-shadow(10px 10px 0 rgb(255, 0, 0))
    drop-shadow(-10px -10px 0 rgb(0, 30, 255)) ;
  }
}