.bottle-interface{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
  min-width: 480px;
  max-width: 1280px;
}

.bottle{
  filter: grayscale(60%);
  /* min-width:100;
  min-height:200; */
}


.bottle:hover{
  filter:drop-shadow(10px 10px 0 rgb(255, 0, 0))
  drop-shadow(-10px -10px 0 rgb(0, 30, 255))
}