.bottle-interface{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.bottle{
  width: 300px;
  height: 550px;

  /* position: relative; */
}

.bottle:hover{
  height:600px;
  width: 600px;
}