.socials {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icon{
  color: white;
  animation: red-blue-socials-r 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.social-icon:hover{
  animation: red-blue-socials 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


@keyframes red-blue-socials {
  0% {
    filter:  drop-shadow(0 0 0 rgb(0, 0, 0))
    drop-shadow(0 0 0 rgb(0, 0, 0));
  }
  100% {
    filter: drop-shadow(10px 10px 0 rgb(255, 0, 0))
    drop-shadow(-10px -10px 0 rgb(0, 30, 255)) ;
  }
}

@keyframes red-blue-socials-r {
  0% {
    filter: drop-shadow(10px 10px 0 rgb(255, 0, 0))
    drop-shadow(-10px -10px 0 rgb(0, 30, 255)) ;
  }
  100% {
    filter:  drop-shadow(0 0 0 rgb(0, 0, 0))
    drop-shadow(0 0 0 rgb(0, 0, 0));
  }
}
