.spirit-display{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 89vw;
  height: 90vh;
}

.desc{
  padding: 50px;
  text-align: start;
}