.search-form{
  display: flex;
  justify-content: center;
  

}

.search-bar{
  font-family: "Major Mono Display", serif;
  border: 0px;
  font-size: 14px;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 2px solid red ;
  background-color: transparent;
  caret-color: red;
  width: 50px;

}

.search-bar:focus{
  padding: 10px;
  margin-right: 10px;
  border-bottom: 2px solid rgb(255, 0, 0) ;
  background-color: transparent;
  outline: none;
  transition: ease-in-out;
  width: 400px;
  animation: activesearch 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}

.search-bar:not(:focus){
  padding: 10px;
  margin-right: 10px;
  border-bottom: 2px solid red ;
  background-color: transparent;
  outline: none;
  animation: inactivesearch 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}

.search-button{
  padding: 8px;
  background-color: transparent;
}


.search-button:hover{
  animation: red-blue-btn 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes red-blue-btn {
  0% {
    filter:  drop-shadow(0 0 0 rgb(0, 0, 0))
    drop-shadow(0 0 0 rgb(0, 0, 0));
  }
  100% {
    filter: drop-shadow(5px 5px 0 rgb(255, 0, 0))
    drop-shadow(-5px -5px 0 rgb(0, 30, 255)) ;
  }
}


@keyframes activesearch {
  0% {
    width: 40px;
  }
  100% {
    width: 300px;
  }
}
@keyframes inactivesearch {
  0% {
    width: 300px;
  }
  100% {
    width: 40px;
  }
}