.search-form{
  display: flex;
  justify-content: center;

}

.search-bar{
  padding: 10px;
  margin-right: 10px;
  background-color: none;
  border: 1px solid red;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: rgba(240, 248, 255, 0);
}

.search-button{
  padding: 8px;
}