#root {
  width: 100dvw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* background-image: linear-gradient(to bottom, #8b232c, #721a24, #5a121b, #430a12, #2e0303); */
  /* overflow-x: hidden; */
}



.card {
  padding: 2em;
}

