nav {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 480px;
  max-width: 1280px;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-item{
  padding: 13px;

}
